[submodule "deploy/.vim/bundle/Vundle.vim"]
	path = deploy/.vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "deploy/.tmux/tpm"]
	path = deploy/.tmux/tpm
	url = https://github.com/tmux-plugins/tpm
